<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><h4><%= @list.name %></h4></th>
    </tr>
  </thead>
</table>
  <tr>
    <td>
      <ul>
        <% @list.items.each do |item| %>
          <li>
            <h5><%= item.task %></h5>
            <% unless item.is_complete %>
              <%= link_to complete_list_item_path(@list, item), method: 'put' do %><i class="fa fa-circle-o"></i>
                <% end %>
            <% else %>
              <i class="fa fa-check-circle"></i>
            <% end %>
          <h5><%= item.task %></h5>
          </li>
          <li>
            <p>due:<%= item.due_date %></p>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>

<%= form_for(@list.items.new, :url => list_items_path(@list)) do |f| %>
  <%= hidden_field_tag :list_id, @list.id %>
  
  <div class="field">
    <%= f.label :task %><br>
    <%= f.text_field :task %>
  </div>

  <div class="field">
    <%= f.label :due %>
    <%= f.date_select :due_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 